<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StudentPersonaGPT</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/monokai-sublime.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
  </head>
  <body>
    <div id="chat-container">
      <h1 class="text-center mb-4">StudentPersonaGPT</h1>
      <div id="select-persona-message" class="alert alert-info" role="alert">
        Please select a student persona to start the conversation.
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="student-persona-dropdown"
          >Select a Student Persona</label
        >
        <select class="form-select" id="student-persona-dropdown">
          <!-- Options for user personas will be added here by JavaScript -->
        </select>
        <button id="start-conversation-btn" class="btn btn-primary">
          Start Conversation
        </button>
      </div>
      <div id="chat-history" class="rounded"></div>
      <div class="input-group mt-3">
        <!-- <button id="toggle-manual-chat-btn" class="btn btn-secondary">
          Enable Manual Chat
        </button> -->
        <div class="manual-chat-controls">
          <textarea
            id="user-input"
            class="form-control"
            placeholder="Type your message..."
            rows="3"
          ></textarea>
          <div class="send-btn-container">
            <button id="send-btn" class="btn btn-success btn-sm">Send</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      const studentPersonas = [
        {
          name: "Answer-Seeking Alice",
          prompt: "Initiating Socratic method...",
        },
        {
          name: "Big Life Questions Bob",
          prompt: "Exploring Platonic ideals...",
        },
        // Add more personas as needed
      ];

      let pollingStarted = false;
      let requestInProgress = false;

      const md = window.markdownit({
        highlight: function (str, lang) {
          if (lang && hljs.getLanguage(lang)) {
            try {
              const highlighted = hljs.highlightBlock(str, { language: lang });
              return `<pre class="hljs language-${lang}"><code>${highlighted.value}</code><button class="copy-code-btn" data-clipboard-text="${highlighted.value}">Copy</button></pre>`;
            } catch (__) {}
          }
          return `<pre class="hljs"><code>${md.utils.escapeHtml(
            str
          )}</code></pre>`;
        },
      });

      $(document).ready(function () {
        hljs.highlightAll();

        setupPersonaDropdown();
        // setupManualChatToggle();

        handleCopyCode();

        $("#start-conversation-btn").on("click", function () {
          let selectedPersona = $("#student-persona-dropdown").val();
          startConversation(selectedPersona);
        });
      });

      function addChatMessage(sender, message) {
        let formattedMessage = md.render(message).trim();
        let chat_history = $("#chat-history");
        let cssClass = sender + "-message";
        chat_history.append(
          '<div class="' +
            cssClass +
            '"><strong>' +
            sender.charAt(0).toUpperCase() +
            sender.slice(1) +
            ':</strong><br><div class="markdown">' +
            formattedMessage +
            "</div></div>"
        );
        chat_history.scrollTop(chat_history[0].scrollHeight);
        chat_history.find("pre code").each(function (i, block) {
          hljs.highlightBlock(block);
          if (!$(block).siblings(".copy-code-btn").length) {
            $(block)
              .parent()
              .prepend(
                '<button class="copy-code-btn" data-clipboard-text="' +
                  $(block).text() +
                  '">Copy</button>'
              );
          }
        });
      }

      function obtainActiveMessage() {
        if (!requestInProgress && pollingStarted) {
          requestInProgress = true;
          $.ajax({
            url: "/active-message",
            type: "GET",
            dataType: "json",
            success: function (data) {
              var msg_count = data.length;
              if (msg_count > 0) {
                for (var i = 0; i < msg_count; i++) {
                  if (data[i].response) {
                    addChatMessage(data[i].role, data[i].response);
                  }
                }
              }
              requestInProgress = false; // Update the flag upon successful completion of the request.
            },
            error: function (xhr, status, error) {
              console.error("Error fetching active messages:", error);
              requestInProgress = false; // Ensure flag is reset even when an error occurs.
            },
          });
        }
      }

      function setupPersonaDropdown() {
        let dropdown = $("#student-persona-dropdown");
        studentPersonas.forEach((persona) => {
          // TODO: Change the value from persona.prompt
          dropdown.append(
            `<option value="${persona.prompt}">${persona.name}</option>`
          );
        });
      }

      function setupManualChatToggle() {
        // Toggle manual chat mode
        $("#toggle-manual-chat-btn").click(function () {
          $(".manual-chat-controls").toggle(); // Show/hide the manual chat controls
          let isManualChatEnabled = $(".manual-chat-controls").is(":visible");
          if (isManualChatEnabled) {
            $(this).text("Disable Manual Chat");
            // Optionally disable automatic message fetching when in manual mode
            clearInterval(activeMessageInterval); // Assuming you have a variable named activeMessageInterval for your setInterval call
          } else {
            $(this).text("Enable Manual Chat");
            // Optionally re-enable automatic message fetching when manual mode is disabled
            activeMessageInterval = setInterval(obtainActiveMessage, 2000);
          }
        });
      }

      function handleCopyCode() {
        $(document).on("click", ".copy-code-btn", function () {
          var code = $(this).siblings("code").text();
          var copyTextarea = document.createElement("textarea");
          copyTextarea.textContent = code;
          document.body.appendChild(copyTextarea);
          copyTextarea.select();
          document.execCommand("copy");
          document.body.removeChild(copyTextarea);
          $(this).text("Copied!");
        });
      }

      function handlePersonaSelection() {
        $("#student-persona-dropdown").on("change", function () {
          let selectedPersona = $(this).val();
          if (selectedPersona) {
            $("#select-persona-message").hide();
          }
        });
      }

      function startConversation(selectedPersona) {
        console.log("Starting conversation...");
        $.ajax({
          url: "/chat",
          type: "POST",
          contentType: "application/json",
          data: JSON.stringify({ selected_persona: selectedPersona }),
          dataType: "json",
          success: function (data) {
            var msg_count = data.length;
            for (var i = 0; i < msg_count; i++) {
              if (data[i].response) {
                addChatMessage(data[i].role, data[i].response);
              }
            }

            if (!pollingStarted) {
              setInterval(obtainActiveMessage, 2000);
              pollingStarted = true; // Ensure this is defined and accessible
            }
          },
          error: function (xhr, status, error) {
            console.error("Error starting conversation:", error);
          },
        });
      }
    </script>
  </body>
</html>
